*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", SegoeUI, Helvetica, Arial, sans-serif;
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    /* deixou  o logo no lado esquerdo e os itens do menu ao lado direito da tela */
    justify-content: space-around;
    height: 70px;

    img{
        height: 36px;
        /* 16px cima e baixo e 10px aos lados */
        margin: 16px 10px;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;;
    }
    
    li{
        cursor: pointer;
        color: #262626;
        
    }

}

.carrossel-item{
    position: absolute;
    top: 80px;
    width: 30%;
    margin-left: 5%;

    h2{
        font-size: 1.8rem;
        font-weight: 600;
        /* desgrudar dos textos debaixo */
        margin-bottom: 10px;
    }
    p{
        font-size: 1.2rem;
    }
    button{ 
        background-color: #0067b8;
        color: #fff;
        padding: 10px 12px;
        font-weight: 500;
        border: none;
    }
    a{
        font-size: 1.2rem;
        margin-left: 10px;
        font-weight: 600;
    }

}


.slide{
    .carousel-control-prev, carousel-control-next{
        
    }
}